/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background: #1A1A20;
}
md-card.mat-card{
    background: #1A1A20;
}
#mainBody {
    padding: 0;
    display: flex;
}
#mainHeader {
    padding: 10px 20px;
}

/*header design css*/

.header {
    margin: 15px 0 0px;
}

#logoImg {
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

img {
    width: auto;
    height: 100%;
}
 
#navbar {
    clear: both;
    width: 85%;
    display: inline;
}

.leftNav {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 15px;
}

.rightNav {
    float: right;
    display: inline-flex;
    margin-top: 7px;
}

button.mat-button {
    color: #96969a;
    text-align: center;
}
ul {
    padding-left: 15px;
    margin-bottom: 0;
}
li {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}
li>a {
    color: #96969a;
    
    padding: 0;
}

#addPhoto {
    text-align: center;
    padding: 50px 20px;
    color: #96969a;
    width: 300px;
    left: 0;
    position: absolute;
    margin: auto;
    border: 1px dashed #96969a;
    right: 0;
    top: 0;
    bottom: 0;
    height: 170px;
    cursor: pointer;
}

i.fa.fa-camera {
    font-size: 32px;
    margin-bottom: 10px;
    color: darkgray;
}

.actionBar {
    padding-right: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.list-group-item {
    color: #96969a;
    background: #1A1A20;
    border: none;
    text-align: center;
}

button.mat-button:hover, li>a:hover, li>a:active, a:focus {
    color: #ac975e;
    background: none;
    text-decoration: none;
}

a.list-group-item:hover,
button.mat-button:focus {
    color: #ac975e;
    background: #26262b;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    color: #ac975e;
    background-color: #ebebf0;
}

.menuBar {
    height: 504px;
    width: 355px;
    overflow-y: auto;
    overflow-x: hidden;
}

button.list-group-item {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    background: #F1F1F5;
    font-weight: bold;
}

i.fa.fa-angle-down {
    float: right;
}

.row {
    height: 484px;
}

.col-md-7.imageUpload {
    background: #DCDCDC;
    height: auto;
    position: relative;
}

.col-md-1.addBox {
    background: #353336;
    height: auto;
}
md-expansion-panel.mat-expansion-panel {
    margin: 10px 30px;
}
md-panel-title.mat-expansion-panel-header-title {
    font-size: 12px;
}